.body {
  width: 100%;
  position: static;
  display: flex;
}
.locationbody {
  padding-top: 50px;
}

#wrap {
  position: relative;
  display: block;
  text-align: center;
}

.img_fit {
  width: 100%;
}

.shop_div {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  position: relative;
}

.shop_div::-webkit-scrollbar {
  visibility: collapse;
}

.shops {
  display: inline;
  height: 100%;
  z-index: 2;
  position: relative;
}

@media (max-width: 900px) {
  .shop_div {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    position: relative;
  }
  .shops {
    display: inline;
    width: 150%;
    z-index: 2;
    position: relative;
  }
}
