* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
}

html,
button,
body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primarycolor: #fafafa;
  --primaryblack: #050505;
}
.nav {
  background-color: white;
}
body {
  background-color: var(--primarycolor);
  color: var(--primaryblack);
  transition: 0.5s linear;
}

.button {
  cursor: pointer;
  width: 550px;
  display: flex;
}

.relDiv1 {
  width: 100%;
  display: flex;
  direction: ltr;
  padding-top: 100px;
}

.title {
  direction: ltr;
  display: flex;
  width: fit-content;
  margin: auto;
}

.themepic {
  padding-right: 48px;
  padding-top: 80px;
}

.store {
  width: 450px;
}
.themelogo {
  width: 45%;
}
.description {
  width: 750px;
  padding-top: 10px;
  padding-inline: 10px;
}

.form {
  position: relative;
}

.form_content > input {
  position: relative;
  width: 85%;
  height: 10%;
  margin-bottom: calc(62px - 13%);
  background-color: transparent;
  border: none;
}

.form_content {
  position: absolute;
  top: calc(180px - 14.5%);
  left: 270px;
  width: fit-content;
  height: 100%;
}
.book_title {
  font-size: 16pt;
  font-family: inherit;
  color: var(--primaryblack);
}

.book_description {
  padding-top: 22px;
  font-size: 13pt;
  font-family: inherit;
  line-height: 30px;
  text-align: justify;
  width: auto;
}

.serv {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
}

@media (max-width: 900px) {
  .button {
    cursor: pointer;
    width: 100%;
    display: flex;
  }
  .relDiv1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2vw;
  }

  .book_title {
    padding-right: 20px;
    font-size: 3vw;
  }

  .store {
    display: none;
  }

  .themepic {
    padding-right: 10px;
    width: 50%;
  }

  .description {
    width: auto;
    flex-wrap: wrap;
    word-wrap: normal;
  }
  .book_description {
    padding-top: 22px;
    font-size: 3vw;
    font-family: inherit;
    line-height: 30px;
    text-align: justify;

    width: auto;
  }
}
