a {
  text-decoration: none;
  padding: 5px 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.758);
  box-sizing: border-box;
  cursor: pointer;
}

a:hover {
  color: #da2126;
  transition: 300ms;
}

.nav {
  display: flex;
  align-items: center;
  position: static;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 80px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 20;
}

.nav__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 175%;
  padding-left: 30px;
}

.nav__right {
  border-left: 2px solid white;
  width: 225px;
  height: 50px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__mobie {
  display: none;
}

.nav__mobie img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
}

.logo {
  width: 150px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 0, 0);
}


.avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1024px) {
  a {
    font-size: 14px;
  }
  .nav {
    padding: 15px 30px;
  }
  .nav__right {
    width: 200px;
    padding-left: 30px;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 40px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav {
    backdrop-filter: none;
    justify-content: space-between;
  }
  .nav__menu {
    display: none;
  }

  .nav__mobie {
    display: flex;
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    width: 70%;
    /* text-align: center; */
    transition: 0.8s;
    opacity: 0;
  }

  .nav__mobie.active {
    left: 0;
    opacity: 1;
  }

  .nav__menu-login {
    display: block;
  }
}

@media (max-width: 420px) {
  .nav {
    padding: 15px;
  }
}
