.img_fit {
  width: 100%;
}

.body {
  width: 100%;
  position: static;
  display: flex;
  flex-direction: column;
}

.cardField {
  position: relative;
  display: block;
}

.relDiv1 {
  width: 100%;
  display: flex;
  direction: ltr;
  padding-top: 10px;
}

.title {
  direction: ltr;
  display: flex;
  width: fit-content;
  margin: auto;
}

.meow_div {
  margin: auto;
}

.meow {
  width: 75%;
}
.description {
  width: 802px;
  padding-top: 10px;
  padding-inline: 10px;
}

.book_title {
  font-size: 3vw;
  font-family: inherit;
  color: #da2126;
  padding-top: 70px;
}

.book_description {
  padding-top: 22px;
  font-size: 13pt;
  font-family: inherit;
  text-align: justify;
  width: 775px;
  padding-bottom: 25px;
}

@media (max-width: 900px) {
  .relDiv1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .meow {
    width: 100px;
  }

  .meow_div {
    padding-right: 10px;
    width: 50%;
  }

  .description {
    width: auto;
    flex-wrap: wrap;
    word-wrap: normal;
  }
}

.form {
  position: relative;
}

.form_content > input {
  position: relative;
  width: 85%;
  height: 10%;
  margin-bottom: calc(62px - 13%);
  background-color: transparent;
  border: none;
}

.form_content > select {
  position: relative;
  width: 85%;
  height: 10%;
  margin-bottom: calc(62px - 13%);
  background-color: transparent;
  border: none;
  text-align: center;
}

.form_content {
  position: absolute;
  top: calc(180px - 14.5%);
  left: 270px;
  width: fit-content;
  height: 100%;
}

#date {
  padding-top: 5px;
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.form_buttons {
  position: absolute;
  top: 78%;
  width: 100%;
  height: 10%;
  left: 0;
}

.form_buttons_div > div {
  position: relative;
  width: 242px;
  height: 100%;
  margin: auto;
}

.form_buttons_div > div:hover {
  cursor: pointer;
}

.form_buttons_div {
  display: flex;
  width: fit-content;
  height: 100%;
  margin: auto;
  align-content: space-evenly;
}
